# Kustomization for BandcampApi
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: muzika

resources:
  - namespace.yaml
  - configmap.yaml
  - secretproviderclass.yaml
  - init-secret-job.yaml
  - deployment.yaml
  - service.yaml
  - networkpolicy.yaml

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/part-of: muzika-platform

images:
  - name: ${ACR_NAME}.azurecr.io/muzika/bandcampapi
    newTag: latest
